@import url('https://fonts.googleapis.com/css?family=KoHo');


body{
    font-family: 'KoHo';
}
.main{
    text-align: center;
    background-image: url('/img/books.jpg');
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    height: 100%;
    width: 100%;
}
.header{
    background-color: black;
    width: 100%;
}
.logo{
    height: 40;
}
.logotext{
    text-align: center;
}
a{
    text-decoration: none;
}
.browse{
    padding: 25% 0;
}
.link{
    color: black
}
.redirect,.nav-link{
    color: orangered;
}
.thumbnails{
    height: 200;
}
.cartimage{
    height: 500;
}
.cartbrowse{
    text-align: center;
}
.mssg{
    background-color: yellow;
}
input[type='number']{
    width: 40px;
} 
.tableitem{
    text-align:center;
}
.productrow{
    background-color: beige;
    border: 1px solid black;
    border-collapse: collapse;
}
.button{
    background-color: yellow;
}